.card {
    max-height: 255px;
    display: flex;
    background: $colour-white;
    border-radius: 15px;
    position: relative;
    transition: .3s;
    @include card-shadow;
    &__new {
        @include label-new;
    }
    &__img {
        width: 100%;
        height: 69%;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }
    &__info {
        &--heading {
            font-size: 1.1rem;
            margin-bottom: 0.4rem;
        }
        &--byline {
            font-weight: 100;
            font-size: 1.05rem;
        }
    }
    &:active, &:hover {
        box-shadow: 0 6px 12px 0 rgb(0 0 0 / 20%);
    }
}
