.footer {
    background: darken($colour-light-grey, 75%);
    padding: $padding + .9rem;
    &__logo {
        font-family: 'Shrikhand', cursive;
        /*width: 6rem;*/
        margin-bottom: 1.1rem;
        font-weight: 200;
        @include media-min($tablet) {
            text-align: center;
        }
    }
    ul {
        @include flex-space-b;
        flex-direction: column;
        min-height: 100px;
    }
    a {
        color: $colour-white;
        i {
            margin-right: 10px;
            font-size: .9rem;
        }
    }
    &__link:nth-child(2) i {
        font-size: 0.7rem;
    }
    @include media-min($tablet) {
        ul {
            flex-direction: row;
            min-height: 60px;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}
