.footer {
    background: darken($colour-light-grey, 75%);
    padding: $padding + .9rem;
    &__logo {
        font-family: 'Shrikhand', cursive;
        width: 6rem;
        margin-bottom: 1.1rem;
        color: $colour-white;
        font-weight: 200;
    }
    ul {
        @include flex-space-b;
        flex-direction: column;
        min-height: 100px;
    }
    a {
        color: $colour-white;
        display: flex;
        align-items: center;
        i {
            margin-right: 10px;
            font-size: .9rem;
        }
    }
    &__link:nth-child(2) i {
        font-size: 0.7rem;
    }
}
