.header {
    @include flex-center;
    &__arrow {
        font-size: 1.3rem;
        position: absolute;
        left: 5%;
        top: 3%;
        @include media-min($desktop) {
            top: 5%;
        }
    }
    &__logo {
        @include flex-center;
        margin: $logo-margin;
        img {
            width: 42%;
        }
        @include media-min($desktop) {
            margin: 0.9em 0 0.6em 0;
            img {
                width: 50%;
            }
        }
    }
}
