$mobile: 320px;
$mobile-responsive: "only screen and (min-width : #{$mobile})";

$tablet: 768px;
$tablet-responsive: "only screen and (min-width : #{$tablet})";

$desktop: 992px;
$desktop-responsive: "only screen and (min-width : #{$desktop})";
