// CHOIX VILLE
.city {
    @include flex-center;
    background: darken($colour-light-grey, 5%);
    padding: $padding;
    &__icon {
        color: #424242;
    }
    input {
        border: none;
        background: none;
        text-align: center;
        outline: none;
    }
}

// EXPLORER LES RESTAURANTS
#explore {
    background: $colour-light-grey;
    padding: $padding + 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    p {
        font-weight: 100;
        font-size: 1.1rem;
        margin: 15px 0;
    }
}

// FONCTIONNEMENT
.container {
    padding: 3rem 1.2rem 3rem 1.6rem;
    &__cards {
        padding: 3.3rem 1.2rem;
        background: $colour-light-grey;
    }
    .nav {
        @include nav;
        /*@include tablet;*/
    }
}

// CARTES RESTAURANTS
.cards-list {
    margin: 1.4rem 0 1rem;
    @include flex-space-b;
    flex-direction: column;
    min-height: 1075px;
    @include media-min($tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 590px;
        align-items: center;
        justify-content: space-around;
        .card {
            max-width: 350px;
        }
    }
    .description {
        @include flex-space-b;
        align-items: center;
        margin: 0 20px 0 15px;
        padding-top: 0.8rem;
    }
}
