.menu {
    &__header{
        width: 100%;
    }
    &__container {
        @include bkgd-menu;
    }
    &__info {
        @include menu-title;
        .heart {
            margin-right: 3%;
            font-size: 1.6rem;
        }
    }
}
