.full-menu {
    &__header{
        width: 100%;
    }
    &__container {
        @include bkgd-menu;
    }
    &__info {
        @include menu-title;
        .heart {
            margin-right: 3%;
            font-size: 1.6rem;
        }
    }
    &-title {
        margin-left: .5rem;
        text-transform: uppercase;
        h3 {
            font-weight: 100;
            font-size: 1rem;
        }
        > div {
            width: 2.5rem;
            height: .2rem;
            background: $colour-tertiary;
        }
    }
}

@mixin menu__open-accent($dur, $delay) {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #f4f9f8;
    transform-origin: top left;
    animation: menu $dur $delay both;
    z-index: -1;
}

.menu {
    /*min-width: 33vh;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*padding: 1rem;
    background: pink;*/
    /*overflow: hidden;*/
    transform-origin: top left;
    position: relative;
    animation: menu 661ms both;
    z-index: 0;
    &__open-accent--1{
        @include menu__open-accent(450ms, 275ms);
    }
    &__open-accent--2 {
            @include menu__open-accent(450ms, 150ms);
            background: $colour-light-grey;
            z-index: -2;
    }
    &__item {
        padding: .75rem;
        margin: .25rem;
        background: $colour-white;
        animation: menu__item 810ms cubic-bezier(.1,.9,.1,1) both;
        position: relative;
        border-radius: 15px;
        @include shadow;
        h4 {
            font-size: 1.15rem;
            font-weight: 400;
        }
        &-accent {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: .25rem;
            /*background-color: pink;*/
            animation: menu__accent 400ms both;
            &--active {
                /*background-color: lightblue;*/
            }
        }
        &--1 {
            animation-delay: 475ms;
            > div {
                animation-delay: 712ms;
            }
        }
        &--2 {
            animation-delay: 546ms;
            > div {
                animation-delay: 805ms;
            }
        }
        &--3 {
            animation-delay: 632ms;
            > div {
                animation-delay: 914ms;
            }
        }
        &-inline {
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 1.5em;
            p {
                font-weight: 100;
                font-size: .95rem;
            }
        }
    }
}

@keyframes menu {
    0% {
        transform: scale(0,.07);
    }
    33% {
        transform: scale(1,.07);
        animation-timing-function: cubic-bezier(.73,.01,.2,.99)
    }

}

@keyframes menu__item {
    0% {
        transform: translateX(-110%);
    }
}

@keyframes menu__accent {
    0% {
        transform: scaleY(0);
    }
}
