.full-menu {
    &__header{
        @include menu-header;
    }
    &__container {
        @include bkgd-menu;
    }
    &__info {
        @include menu-title;
        .heart {
            margin-right: 3%;
            font-size: 1.6rem;
        }
    }
    &-title {
        margin: 2rem 0.5rem 0.5rem;
        text-transform: uppercase;
        h3 {
            font-weight: 100;
            font-size: 1rem;
            margin-bottom: 0.2rem;
        }
        > div {
            width: 2.5rem;
            height: 0.2rem;
            background: $colour-tertiary;
        }
    }
    &__btn{
        @include flex-center;
    }
}

.menu {
    @include flex-space-b;
    flex-direction: column;
    transform-origin: top left;
    position: relative;
    animation: menu 661ms both;
    &__item {
        padding: .75rem;
        margin: 0.4rem;
        background: $colour-white;
        animation: menu__item 810ms cubic-bezier(.1,.9,.1,1) both;
        position: relative;
        border-radius: 15px;
        @include menu-item-shadow;
        h4 {
            font-size: 1.1rem;
            font-weight: 400;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        &-accent {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: .2rem;
            /*background-color: pink;*/
            animation: menu__accent 400ms both;
            /*&--active {
                background-color: lightblue;
            }*/
        }
        &--1 {
            animation-delay: 475ms;
            > div {
                animation-delay: 712ms;
            }
        }
        &--2 {
            animation-delay: 546ms;
            > div {
                animation-delay: 805ms;
            }
        }
        &--3 {
            animation-delay: 632ms;
            > div {
                animation-delay: 914ms;
            }
        }
        &--4 {
            animation-delay: 712ms;
            > div {
                animation-delay: 1000ms;
            }
        }
        &-inline {
            @include flex-space-b;
            align-items: center;
            line-height: 1.5em;
            p {
                font-weight: 100;
                font-size: 0.95rem;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin-right: 0.5rem;
            }
            span {
                margin-right: 1rem;
            }
        }
        &:hover {
            box-shadow: 0 3px 7px 0 rgb(0 0 0 / 20%);
        }
    }
}
