.full-menu {
    &__header{
        @include menu-header;
    }
    &__container {
        @include bkgd-menu;
    }
    &__info {
        @include menu-title;
        .heart {
            margin-right: 3%;
            font-size: 1.6rem;
        }
    }
    &-title {
        margin: 2rem 0.5rem 0.5rem;
        text-transform: uppercase;
        h3 {
            font-weight: 100;
            font-size: 1rem;
            margin-bottom: 0.2rem;
        }
        > div {
            width: 2.5rem;
            height: 0.2rem;
            background: $colour-tertiary;
        }
    }
    &__btn{
        @include flex-center;
    }
}
