@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin shadow {
    box-shadow: 0 6px 8px 0 rgb(0 0 0 / 20%);
}

@mixin card-shadow {
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
}

@mixin btn {
    color: $colour-white;
    background: linear-gradient(172deg, $colour-secondary 20%, rgba(147,86,220,0.8533788515406162) 82%);
    padding: $padding $padding + 0.5rem;
    border-radius: 30px;
    text-decoration: none;
    margin: 18px 0;
    @include shadow;
    transition: 0.3s;
    position: relative;
    z-index: 1;
    &:hover, :active {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        border-radius: 30px;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(192deg, lighten($colour-primary, 5) 0%, darken($colour-secondary, 3) 100%);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
        box-shadow: 0 7px 9px 0 rgba(0,0,0,0.2);
    }
}
