$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-white: #FFF;
$colour-black: #000;
$colour-light-grey: rgb(248, 248, 248);
$label-new: #99E2D0;

$logo-margin: 0.7em 0 0.4em 0;
$padding: 1rem;
